{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<br><br>
<h2>Replies</h2>
<div style="background-color:white; width: 50%; margin: auto; padding-right:20px; padding-left:20px; padding-top:10px;">

    {% if tweet.retweeted == True %}
    <p style="color:gray"><i>@{{tweet.retweetd_by.username}}&nbsp Retweeted</i></p>
    {% endif %}
    <p><a href="{% url 'tweet:detail' pk=tweet.user.id %}">@{{tweet.user}}</a>&nbsp&nbsp&nbsp&nbsp
        <a href="" data-toggle="tooltip" title="{{tweet.timestamp}}" style="color:black">
            <small>{{tweet.timestamp|date:"d M Y"}}</small>
        </a></p>


    <h2>{{tweet}}</h2>

    <br>
    <small>

        <a href="{% url 'tweet:retweet' pk=tweet.pk%}"><i class="fas fa-retweet fa-lg"></i></a> &nbsp&nbsp&nbsp&nbsp

        <a href="{% url 'tweet:like' pk=tweet.pk%}"><i class="far fa-thumbs-up fa-lg"></i>&nbsp
            {{tweet.tweetlike_set.first.liked_by.count}}
        </a> &nbsp&nbsp&nbsp&nbsp

        {% if user == tweet.retweetd_by %}
        <a href="{% url 'tweet:delete' pk=tweet.pk%}" style="color:red"><i class="far fa-trash-alt fa-lg"></i></a>
        {% endif %}
    </small>

    <hr>

    {% if replies %}
    {% for reply in replies %}

    <p><a href="{% url 'tweet:detail' pk=reply.user.id %}">@{{reply.user}}</a>&nbsp&nbsp&nbsp&nbsp
        <a href="" data-toggle="tooltip" title="{{reply.timestamp}}" style="color:black">
            <small>{{reply.timestamp|date:"d M Y"}}</small>
        </a></p>
    <p>Replying to <a href="{% url 'tweet:detail' pk=tweet.user.id %}">@{{tweet.user}}</a></p>
    <br>
    {{reply.content|linebreaks }}

    <hr>

    {% endfor %}
    {% else %}
    <h4>No replies yet</h4>
    <br>
    {% endif %}

</div>

<br><br>
<form method="post" style="width:50%; margin: auto; " id="tweet-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Reply" class="btn btn-primary">
</form>


<br><br>


{% endblock content %}